body{

font-family:Arial;

background:#f4f4f4;

text-align:center;

}

table{

margin:auto;

border-collapse:collapse;

width:60%;

}

th{

background:#2E8B57;

color:white;

padding:10px;

}

td{

border:1px solid gray;

padding:10px;

}
